body{
    font-family: 'Bebas Neue', cursive;
}

#above{
    color: lightblue;
}

#about{
    position: relative;
    margin-top: -9%;
    background-color: rgb(137, 193, 193);
}

#spring{
    color: rgb(33, 147, 188);
}

#summer{
    color: rgb(0, 0, 0);
}

#time{
    background-color: rgb(241, 237, 237);
}

#ice{
    color: rgb(142, 210, 227);
}

h2{
    color: rgb(33, 147, 188);
}

#locations {
    background-color: rgb(137, 193, 193);
}
